/* <<<<>>>> */
/* BODY */
/* <<<<>>>> */
body{
  background-color: #b8a3a3;
}
/* <<<<>>>> */
/* HEADER */
/* <<<<>>>> */
/* sectioned off the header placed inside it's own border-container,
   alligned text to center of page, increased font size, add padding
   from walls inside border-container centered head horizontally on page */
header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  background: #1b1011;
  color: #faf6f6;
  margin: auto;
  border: 2px solid pink;
}
/* <<<<>>>> */
/* MAIN */
/* <<<<>>>> */
/* gave text style to main section, increased font size and alligned text center  */
main {
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
}
/* added text style to the h3 (click on venue)  */
h3 {
  font-family:'Courier New', Courier, monospace;
  font-size: 25px;
  border: 5px solid pink;
  padding: 10px;
  color: white;
  background-color: black;
}

/* evened space between images */
.image-holder {
  display: flex;
  justify-content: space-between; 

}
/* centered text with iamges, created space between images
and added padding, added in border and "cool" effects */
.images {
  text-align: center;
  width: 45%; 
  box-sizing: border-box; 
  padding: 10px; 
  height: 500px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: opacity 0.1s;
  border: 2px solid pink;
  color: white;
  background-color: black;
}
/* tried to add pizazz giving images a opaque hover display when moused over */
.images:hover{
  opacity: 0.8;
}
/* /* font size for images increased and added space between images and bottom of webpage */
 .images h1 {
  font-size: 40px;
  margin-bottom: 10px; 
}
/* resized images to be same size and cut off extra image from container is too big */
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}   


  
    

