body{
  background-color: antiquewhite;
}
header {

  font-size: 25px;
  padding: 60px;
  text-align: center;
  background: #55a7f3;
  color: #fff;
  flex: auto;
  margin: auto;
}

form {
  float:right
}

main {
  font-size: 20px;

}
button{
  outline:none;
  font-size: 1em;
}

.findmeBtn{
  background-color:  #55a7f3;
  color: #fff;
  /* padding: 10px 24px; */
 

}
  
  
    

