/* <<<<>>>> */
/* BODY */
/* <<<<>>>> */
body{
  background-color: antiquewhite;
}
/* <<<<>>>> */
/* SEARCH BAR */
/* <<<<>>>> */
/* form {
  float:right;

} */
/* <<<<>>>> */
/* HEADER */
/* <<<<>>>> */
header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  background: #55a7f3;
  color: #fff;
  flex: auto;
  margin: auto;
}
/* <<<<>>>> */
/* MAIN */
/* <<<<>>>> */
main {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-weight:800;
  font-size: 40px;
}
/* <<<<>>>> */
/* PICS */
/* <<<<>>>> */
/* .responsive {
  padding: 0 6px;
  float: left;
  margin-left:90px;
  width: 24.99999%;
} */
/* 
@media only screen and (max-width: 700px){
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
    margin-left:30px;
  }
}  */
/* .imgKia{
  display:flex;
  flex-wrap: wrap;
  bottom: -22%;
  position: absolute;
  width: 10%;
  right: 85%;
}

.imgVystar{

    display: flex;
    flex-wrap: wrap;
    float: center;  
    position: absolute;
    left: 70%;
    bottom: -22%;
    width: 10%;



} */





/* .kiA{
  border: 2px solid black;
  float:left;
    width: 500px;
    height: 400px;
}
.vystaR{

    border: 2px solid black;
    float:center;
    width: 500px;
    height: 400px;
} */
/* }

 button.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
} */
/* 
div.container {
  text-align: center;
  padding: 10px 20px;
} */

/* <<<<>>>> */
/* BUTTONS */
/* <<<<>>>> */
button:hover{background-color: blue;}

button{
  outline:none;
  font-size: 1.5rem;
  
}


.allColumns {
  float: left;

  width: 40%;
  padding-left: 130px; 
  text-align: center;

 }






.row::after{
  content: "";
  clear: both;
  display: block;
 
}


@media screen and (max-width: 768px) {
  .allImgs {
      width: 100%;
  }
}
  
    




  
    

